<header class="header">
  <div class="header_left">
    <nav class="nav">
      <ul class="nav_list">
        <li>
          <a class="nav_link" href="#">Главная</a>
        
        </li>
        <li>
          <a class="nav_link" href="#">Статьи</a>
        
        </li>
        <li>
          <a class="nav_link" href="#">Обо мне</a>
        
        </li>
        <li>
          <a class="nav_link" href="#">Реклама</a>
        
        </li>
      </ul>
    </nav>
  </div>
  <div class="header_right">
    <nav class="nav">
      <ul class="nav_list">
        <li>
          <a class="nav_link" href="#">Профиль</a>
        </li>
      </ul>
    </nav>
    <form class="search" action="/" method="post">
        <input class="search_input" placeholder="Поиск по блогу" type="text">
    </form>
  </div>
</header>
